#settingsFormDiv{
    width: 98%;
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14,15,22);
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 1rem;
    border-color: rgba(43,45,64,255);
    /* margin: 0 auto 2em; */
}

select{
    display: flex;
    width: 90%;

}


#settingsForm{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 1rem;

}

.settingsLabel{
    font-size: 3rem;
    padding-right: 1em;
    padding-top: 0.5rem;

}
.settingsSelect{
    margin-left: 1rem;

}


#settingsSubmitBtn{
        margin: auto;
        margin-top: 1em;
        background-color: rgb(109,79,198);
        border-style: solid;
        border-width: 1.5px;
        border-radius: 1rem;
        border-color: rgba(43,45,64,255);
        font-size: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

      }
#settingsSubmitBtn:hover{
          background-color: rgba(43,45,64,255);
          border-color:rgb(109,79,198) ;
        }


.inputDiv{
    margin: 2rem;
}
