#settingsFormDiv{
    display: flex;
    min-height: 100vh;
    width: 90vw;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14,15,22);
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 1rem;
    border-color: rgba(43,45,64,255);
    box-shadow: 3px 4px 10px 5px rgba(52, 235,97, 0.75);
    margin: 1em;
    animation: neonGlow 1s ease-in-out infinite alternate;
}

@keyframes neonGlow {
  from {
    /* Tight, sharp glow */
    box-shadow: 
      0 0 4px #2ecc71,
      0 0 10px #2ecc71;
  }
  to {
    /* Wide, soft glow */
    box-shadow: 
      0 0 10px #2ecc71,
      0 0 30px #2ecc71;
  }
}

select{
    display: flex;
    width: 90%;

}


#settingsForm{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 1rem;
    width: 90vw;
}

.settingsLabel{
    font-size: 3rem;
    padding-right: 1em;
    padding-top: 0.5rem;

}
.settingsSelect{
    margin-left: 1rem;

}


#settingsSubmitBtn{
        margin: auto;
        margin-top: 1em;
        background-color: rgb(109,79,198);
        border-style: solid;
        border-width: 1.5px;
        border-radius: 1rem;
        border-color: rgba(43,45,64,255);
        font-size: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

      }
#settingsSubmitBtn:hover{
          background-color: rgba(43,45,64,255);
          border-color:rgb(109,79,198) ;
        }


.inputDiv{
    margin: 2rem;
}
