#main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 1rem;
    border-color: rgba(43,45,64,255);
    background-color: rgb(14,15,22);
}

h1{
    color: white !important;
}

p{
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

  #loginBtn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(109,79,198);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1rem;
    border-color: rgba(43,45,64,255);
    margin-right: 4rem;
    
  }

  #loginBtn:hover{
    background-color: rgba(43,45,64,255);
    border-color:rgb(109,79,198) ;
  }
  
  #registerBtn{
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 4rem;
      background-color: rgb(109,79,198);
      border-style: solid;
      border-width: 1.5px;
      border-radius: 1rem;
      border-color: rgba(43,45,64,255);
    }
  #registerBtn:hover{
        background-color: rgba(43,45,64,255);
        border-color:rgb(109,79,198) ;
      }
  