#mainGameDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

}


#question{
    text-align: start;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.answers{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 2.5rem;
}

#counters{
display: flex;
font-size: 1rem;
margin-bottom: 2em;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

#answerBtn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(109,79,198);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1rem;
    border-color: rgba(43,45,64,255);
    font-size: 2.5rem;
  }
#answerBtn:hover{
      background-color: rgba(43,45,64,255);
      border-color:rgb(109,79,198) ;
    }

