#mainGameDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    min-height: 100vh;
    box-shadow: 3px 4px 10px 5px rgba(52, 235,97, 0.75);

}


#question{
    text-align: start;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color:white
}

.answers{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 2.5rem;
}

#answer-result{
    margin-left: 1rem ;
}

#counters{
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
    border-color: rgba(43,45,64,255);
    box-shadow: 0px 0px 10px 2px rgba(52, 235,97, 0.75);
    color: white;
    display: flex;
    font-size: 2rem;
    padding-top: 0;
    margin-top: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

#answerBtn{
    color: white;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(109,79,198);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 1rem;
    border-color: rgba(43,45,64,255);
    font-size: 2.0rem;
  }
#answerBtn:hover{
      background-color: rgba(43,45,64,255);
      border-color:rgb(109,79,198) ;
    }

