
.table{
    align-items: center;
    background-color: rgb(14,15,22);
    border-style: solid;
    border-width: 3px;
    border-radius: 1rem !important;
    border-color: rgba(43,45,64,255);
    margin-bottom: 1rem;
    box-shadow: 3px 4px 10px 5px rgba(52, 235,97, 0.75);
    height: fit-content;
    width: 90vw !important;
    }


#emptyDiv{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

th,td{
    color: white;
    font-size: 2rem
}