#mainScoreDiv{
    display: flex;
    flex-direction: column;
    width: 98%;
}


.scoreCard{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(14,15,22);
justify-content: center;
border-style: solid;
border-width: 3px;
border-radius: 1rem;
border-color: rgba(43,45,64,255);
margin-bottom: 1rem;
}

.scoreCard > ul > li{
    font-size: 1rem;
}

#highScore{
    color:  rgb(12, 173, 104);
}


#lowScore{
    color:  rgb(161, 14, 85);
}

#emptyDiv{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}