#logo > h1{
    display: flex;
    font-size: 5em !important;
    color:white ;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

